<section class="page4wrapper"> 

<div class="navbar">
      <h3 style="margin: 43px 0px 0px 22px;">Sign Up<span class="fast_free"> - It's fast,Easy,Free, & Secure!</span></h3>

 
 <div id="menu4">
    <ul class="nav-breadcrumb">
      <li><a href="javascript:void(0);" class="finished"><span class="bold">Step 3</span> Account Details</a></li>
      <li><a href="javascript:void(0);" class="finished" ><span class="bold">Step 2</span> Personal info</a></li>
      <li><a href="javascript:void(0);" class="finished" ><span class="bold">Step 1</span> Basic Info</a></li>
    </ul>
</div>

</div>


<section class="thankYou_Text">
		<h3 class="main_Text">Thanks for registering with CI Group.</h3>
		<h5 class="sub_Text">You can go back and edit the values in the Step 1,2 & 3</h5>
		<h5 class="sub_Text1">The allowable edit limits will be only 3 times</h5>
</section>

	<div class="cognizantInteractive" style="float: right">
	<button class="btn btn-primary">why cognizantinteractive.com?</button>
	<hr/>
	<p>Cognizant Interactive Team is part of the Cognizant Interactive family</p>
	<p></p>
	<hr/>
	<p>Our Competencies:</p>
	<ul class="competency">
	<img src="../assests/images/imgs.png" alt="Html and css" class="imageIcons" />
		<li>
			<div class="listContents1">
				<strong>HTML-CSS</strong>
				Performances,Insiders Picks,
				Super Stats
			</div>
		</li>
		<li>
			<div class="listContents2">
				<strong>Mobile Applications</strong>
			</div>
		</li>
		<li>
			<div class="listContents3">
				<strong>Flash and Flex</strong>
			</div>
		</li>
		<li>
			<div class="listContents4">
				<strong>RIA</strong>
			</div>
		</li>
		<li>
			<div class="listContents5">
				<strong>UI Development</strong>
			</div>
		</li>
	</ul>

	<hr/>
	<div class="offers"><strong>We offer many ways to play</strong> :</div>
	<div class="offerIcons">
		<img src="../assests/images/comp_icon.png" alt="comp_icon">
		<p>online</p>
	</div>
	<div class="offerIcons">
	<img src="../assests/images/phone_icon.png" alt="phone_icon">
	<p>mobile</p>
	</div>
	<div class="offerIcons">
	<img src="../assests/images/phone2_icon.png" alt="phone2_icon">
	<p>phone</p>
	</div>
</div>

</section>