<section class="page2wrapper">
<div class="navbar">
      <h3 style="margin: 43px 0px 0px 22px;">Sign Up<span class="fast_free"> - It's fast,Easy,Free, & Secure!</span></h3>
    
 <div id="menu2">
    <ul class="nav-breadcrumb">
      
      
      <li><a href="javascript:void(0);" class="unactive"><span class="bold">Step 3</span> Account Details</a></li>

      <li><a href="javascript:void(0);" class="active" ><span class="bold">Step 2</span> Personal info</a></li>

      <li><a href="javascript:void(0);" class="finished" ><span class="bold">Step 1</span> Basic Info</a></li>
    </ul>
</div>


</div>
<p class="underline">Unless noted, all fields are required.</p>


<form class="page2form">
	<fieldset>
		<legend>PERSONAL INFORMANTION</legend>	
					<ul>
						<li class="inputs">
							First Name:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="$root.account.firstName" />
						</li>
						<li class="inputs">
							Last Name:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="$root.account.lastName" />
						</li>
						<li class="inputs">
							Current Address:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,20}" ng-model="$root.account.currentAddress" />
						</li>
						<li class="inputs">
							Current Address2:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,30}" ng-model="$root.account.currentAddress2" />
						</li>
						<li class="inputs">
							City:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="$root.account.city" />
						</li>
						<li class="inputs">
							State:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,12}" ng-model="$root.account.State" />
						</li>
						<li class="inputs">
							ZIP:
							<input class="inputbox" type="number" ng-model="$root.account.ZIP" />
						</li>
						<li class="inputs">
							Have you lived for more than two years at your current address?
							<br>
							<input type="radio" ng-model="$root.account.radio"/>Yes
							<input type="radio" ng-model="$root.account.radio" />No
						</li>
						<li class="inputs">
							Phone:
							<input class="inputbox" type="text" ng-model="$root.account.Phone" />
						</li>
						<li class="inputs">
							Email:
							<input class="inputbox" type="text" ng-model="$root.account.Email" />
						</li>
					</ul>
					</fieldset>
			<button type="submit" class='btn btn-primary btn-sm' ng-click='Submit2()' href='#page3' >Submit</button>
	
	<fieldset>
	<legend class="verify_Title">VERIFY IDENTITY
		<p class="verify_Text">Federal and state regulations require us to verify your identity and legal residence. Cognizant interactive electronically<br>verifies the information provided through a third-party credit bureau. If you have questions, view our <a href="#">privacy policy</a> or<br>contact us at 56666-HelpDesk.  </p>
	</legend>
	<!-- <div id="default-settings"></div>
			<h4>Default Birthday [defaultDate: 01-03-1980]</h4>
<script>
$("#default-settings").birthdayPicker();	
				$("#default-birthday").birthdayPicker({"defaultDate":"01-03-1980"});
				$("#max-year-birthday").birthdayPicker({
					"defaultDate": "01-03-1980",
					"maxYear": "2020",
					"maxAge": 65
				});
				$("#short-month-birthday").birthdayPicker({
					"defaultDate": "01-03-1980",
					"maxYear": "2020",
					"maxAge": 65,
					"monthFormat":"short"
				});
				$("#long-month-birthday").birthdayPicker({
					"defaultDate": "01-03-1980",
					"maxYear": "2020",
					"maxAge": 65,
					"monthFormat":"long",
					"sizeClass": "span3"
				});			
</script>
	
</select> -->
	
</fieldset>
</form>

<div class="cognizantInteractive" style="float: right">
	<button class="btn btn-primary">why cognizantinteractive.com?</button>
	<hr/>
	<p>Cognizant Interactive Team is part of the Cognizant Interactive family</p>
	<p></p>
	<hr/>
	<p>Our Competencies:</p>
	<ul class="competency">
	<img src="../assests/images/imgs.png" alt="Html and css" class="imageIcons" />
		<li>
			<div class="listContents1">
				<strong>HTML-CSS</strong>
				Performances,Insiders Picks,
				Super Stats
			</div>
		</li>
		<li>
			<div class="listContents2">
				<strong>Mobile Applications</strong>
			</div>
		</li>
		<li>
			<div class="listContents3">
				<strong>Flash and Flex</strong>
			</div>
		</li>
		<li>
			<div class="listContents4">
				<strong>RIA</strong>
			</div>
		</li>
		<li>
			<div class="listContents5">
				<strong>UI Development</strong>
			</div>
		</li>
	</ul>

	<hr/>
	<div class="offers"><strong>We offer many ways to play</strong> :</div>
	<div class="offerIcons">
		<img src="../assests/images/comp_icon.png" alt="comp_icon">
		<p>online</p>
	</div>
	<div class="offerIcons">
	<img src="../assests/images/phone_icon.png" alt="phone_icon">
	<p>mobile</p>
	</div>
	<div class="offerIcons">
	<img src="../assests/images/phone2_icon.png" alt="phone2_icon">
	<p>phone</p>
	</div>
</div>






</section>